// screens
$xxs: 300px;
$xs: 420px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// colors
$black: black;
$white: white;
$light-grey: #e5e5e5;

$staat-red: #b70912;
$staat-yellow: #e4c324;
$staat-blue: #164eb8;

$transition-base: 0.5s ease-out;
$transition-faster: 0.25s ease-out;
