$width: 2.5rem;
$height: 1.8rem;

nav button {
  border: none;
  background-color: transparent;
  width: $width;
  height: $height;
  position: relative;
}

.hamburger {
  width: $width;
  height: $height;
  position: relative;

  span {
    width: $width;
    height: 0.15rem;
    background-color: black;
    position: absolute;
    transition: 0.25s ease-out;
    left: 0;

    &:first-of-type {
      top: 0;
    }

    &:nth-of-type(2) {
      top: calc(50% - 0.25rem);
    }

    &:nth-of-type(3) {
      top: calc(89% - 0.25rem);
    }
  }

  &:hover {
    span {
      &:first-of-type {
        top: -0.25rem;
      }
      &:nth-of-type(3) {
        top: calc(100% - 0.25rem);
      }
    }
  }
}

nav.active {
  .hamburger span {
    background-color: $white;

    &:first-of-type,
    &:nth-of-type(3) {
      top: calc(50% - 0.25rem);
    }
  }
}
