nav {
  border-bottom: 1px solid $black;
  height: 4.75rem;

  ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $black;
    background-color: $white;
    height: 4.5rem;
    list-style: none;
  }

  .logo {
    a::after {
      display: none;
    }
  }

  img {
    padding: 0.5rem 0 0.5rem 1.5rem;
    height: 3.5rem;
  }

  .nav-button {
    padding: 1.25rem 1.5rem 1.25rem 0;
  }

  .nav-items {
    display: flex;
    position: absolute;
    top: -100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 50;
    transition: $transition-base;
    background-color: $black;
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;

    a {
      color: $white;

      &::after {
        background-color: $white;
      }
    }
  }

  &.active {
    .nav-items {
      top: 0;
    }
  }
}

@media (min-width: $sm) {
  nav {
    ul {
      padding: 0 1rem;
    }

    .nav-items {
      display: flex;
      position: static;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      transition: none;
      background-color: transparent;
      width: auto;
      height: auto;
      font-size: 1rem;

      a {
        color: $black;
      }
    }

    .nav-button {
      display: none;
    }
  }
}
