* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
li,
a {
  font-family: "IBM Plex Mono", Courier, monospace;
}

a {
  position: relative;
  color: black;
  text-decoration: none;
}
a::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.5s ease-out;
  background-color: black;
  width: 0;
  height: 2px;
  content: "";
}
a:hover::after {
  width: 100%;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 1;
  margin-top: 0.2rem;
  background-color: black;
  padding: 5rem 10%;
}
.banner::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 1px;
  content: "";
}
.banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.banner .banner-content h2 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
.banner .banner-content h3 {
  color: white;
  font-size: 1.25rem;
  text-align: center;
}

.projects {
  position: static;
}
.projects h2 {
  margin-bottom: 4rem;
  border-bottom: 2px solid black;
  font-size: 2rem;
}
.projects a::after {
  display: none;
}
.projects h3 {
  font-size: 3rem;
}
.projects p:last-of-type {
  margin-top: 2em;
  border-bottom: 2px solid;
  padding-bottom: 0.4rem;
  font-weight: 600;
}
.projects section {
  height: 20rem;
}
.projects section.shown article {
  transform: translateX(0);
}
.projects section article {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-100vw);
  transition: 0.5s ease-out;
  padding: 0 1rem 0 4rem;
  width: 80vw;
  height: 100%;
}
.projects section article:hover {
  transform: translateX(-1rem);
}
.projects section .work-img {
  width: 100%;
  height: 20rem;
}
.projects section.destaat article {
  background-color: rgba(255, 255, 255, 0.8);
}
.projects section.destaat .work-img {
  background: url(../images/destaat_long.png);
  background-position: top right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.projects section.tarantino article {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.projects section.tarantino .work-img {
  background: url(../images/tarantino_long.png);
  background-position: top right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.projects section.dinder article {
  background-color: rgba(255, 255, 255, 0.8);
}
.projects section.dinder .work-img {
  background: url(../images/dinder_long.png);
  background-position: top right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.projects section.playground article {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.projects section.playground .work-img {
  background: url(../images/playground_long.png);
  background-position: top right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.projects section.uu article {
  background-color: rgba(255, 255, 255, 0.8);
}
.projects section.uu .work-img {
  background: url(../../images/uu_long.png);
  background-position: top right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  .projects {
    width: 100%;
  }
  .projects h3 {
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  .projects section {
    display: flex;
    height: 30rem;
  }
  .projects section article {
    position: static;
    width: calc(50% - 5rem);
  }
  .projects section .work-img {
    width: 50%;
    height: 100%;
  }
  .projects section.destaat, .projects section.dinder, .projects section.uu {
    background-color: white;
  }
  .projects section.destaat .work-img, .projects section.dinder .work-img, .projects section.uu .work-img {
    background-size: 50%;
  }
  .projects section.tarantino, .projects section.plogdedag, .projects section.playground {
    background-color: black;
  }
  .projects section.tarantino .work-img, .projects section.plogdedag .work-img, .projects section.playground .work-img {
    background-size: 50%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background-color: black;
  padding: 2rem 5rem;
}
footer .footer-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
footer .footer-links a {
  color: white;
}
footer .footer-links a::after {
  background-color: white;
}
footer .back-to-top {
  position: relative;
  transition: 0.25s ease-out;
  margin-top: 8rem;
  background-color: white;
  padding: 3rem 0.5rem;
}
footer .back-to-top::before {
  position: absolute;
  top: -5rem;
  left: 50%;
  transition: 0.25s ease-out;
  background-color: white;
  width: 0.025rem;
  height: 5rem;
  content: "";
}
footer .back-to-top:hover {
  transform: translateY(-0.5rem);
}
footer .back-to-top:hover::before {
  top: -4.3rem;
}

nav {
  border-bottom: 1px solid black;
  height: 4.75rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: white;
  height: 4.5rem;
  list-style: none;
}
nav .logo a::after {
  display: none;
}
nav img {
  padding: 0.5rem 0 0.5rem 1.5rem;
  height: 3.5rem;
}
nav .nav-button {
  padding: 1.25rem 1.5rem 1.25rem 0;
}
nav .nav-items {
  display: flex;
  position: absolute;
  top: -100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  z-index: 50;
  transition: 0.5s ease-out;
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
}
nav .nav-items a {
  color: white;
}
nav .nav-items a::after {
  background-color: white;
}
nav.active .nav-items {
  top: 0;
}

@media (min-width: 640px) {
  nav ul {
    padding: 0 1rem;
  }
  nav .nav-items {
    display: flex;
    position: static;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: none;
    background-color: transparent;
    width: auto;
    height: auto;
    font-size: 1rem;
  }
  nav .nav-items a {
    color: black;
  }
  nav .nav-items a::after {
    background-color: black;
  }
  nav .nav-button {
    display: none;
  }
}
.intro {
  margin: 10rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 10%;
}
@media (min-width: 640px) {
  .container {
    padding: 0 15%;
  }
}

.whitespace-sm {
  padding: 1rem 0;
}

.whitespace-md {
  padding: 2rem 0;
}

.project-metadata {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 0;
  height: 25rem;
}
@media (min-width: 420px) {
  .project-metadata {
    height: 28rem;
  }
}
@media (min-width: 640px) {
  .project-metadata {
    height: 35rem;
  }
}
.project-metadata .label {
  font-weight: 800;
}
.project-metadata .mockup1 {
  position: absolute;
}
.project-metadata .mockup1.destaat {
  top: 10rem;
  right: calc(50% - 10rem);
  width: 20rem;
}
@media (min-width: 420px) {
  .project-metadata .mockup1.destaat {
    top: 7rem;
    right: calc(50% - 15rem);
    width: 30rem;
  }
}
@media (min-width: 640px) {
  .project-metadata .mockup1.destaat {
    top: 0;
    right: calc(45% - 20rem);
    width: 40rem;
  }
}
.project-metadata .mockup1.tarantino {
  top: 10rem;
  right: calc(50% - 12rem);
  width: 24rem;
}
@media (min-width: 420px) {
  .project-metadata .mockup1.tarantino {
    top: 10rem;
    right: calc(50% - 17.5rem);
    width: 35rem;
  }
}
@media (min-width: 640px) {
  .project-metadata .mockup1.tarantino {
    top: 12rem;
    right: calc(45% - 22.5rem);
    width: 45rem;
  }
}
@media (min-width: 768px) {
  .project-metadata .mockup1.tarantino {
    top: 8rem;
    right: calc(45% - 27.5rem);
    width: 55rem;
  }
}
.project-metadata .mockup1.playground {
  top: 10rem;
  right: calc(50% - 12rem);
  width: 24rem;
}
@media (min-width: 420px) {
  .project-metadata .mockup1.playground {
    top: 7rem;
    right: calc(50% - 17.5rem);
    width: 35rem;
  }
}
@media (min-width: 640px) {
  .project-metadata .mockup1.playground {
    right: calc(45% - 22.5rem);
    width: 45rem;
  }
}
@media (min-width: 768px) {
  .project-metadata .mockup1.playground {
    top: 1rem;
    right: calc(45% - 27.5rem);
    width: 55rem;
  }
}

.process-section {
  position: relative;
  background-color: black;
  color: white;
}
.process-section::before, .process-section::after {
  position: absolute;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 1px;
  content: "";
}
.process-section::before {
  top: -4px;
}
.process-section::after {
  bottom: -4px;
}
.process-section .process-pictures img {
  width: 100%;
}
.process-section .breakdown-section .breakdown-img-wrapper {
  height: 20rem;
  overflow: scroll;
}
@media (min-width: 640px) {
  .process-section .breakdown-section .breakdown-img-wrapper {
    height: 30rem;
  }
}
.process-section .breakdown-section .breakdown-img-wrapper img {
  width: 100%;
}

.result-section {
  display: flex;
  flex-direction: column;
}
.result-section img {
  align-self: center;
  width: 100%;
}
.result-section .btn {
  align-self: center;
}

nav button {
  position: relative;
  z-index: 100;
  border: none;
  background-color: transparent;
  width: 2.5rem;
  height: 1.8rem;
}

.hamburger {
  position: relative;
  width: 2.5rem;
  height: 1.8rem;
}
.hamburger span {
  position: absolute;
  left: 0;
  transition: 0.25s ease-out;
  background-color: black;
  width: 2.5rem;
  height: 0.15rem;
}
.hamburger span:first-of-type {
  top: 0;
}
.hamburger span:nth-of-type(2) {
  top: calc(50% - 0.25rem);
}
.hamburger span:nth-of-type(3) {
  top: calc(89% - 0.25rem);
}
.hamburger:hover span:first-of-type {
  top: -0.25rem;
}
.hamburger:hover span:nth-of-type(3) {
  top: calc(100% - 0.25rem);
}

nav.active .hamburger span {
  background-color: white;
}
nav.active .hamburger span:first-of-type, nav.active .hamburger span:nth-of-type(3) {
  top: calc(50% - 0.25rem);
}

.cursor-dot,
.cursor-dot-outline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 50%;
  pointer-events: none;
}

.cursor-dot {
  background-color: rgba(0, 0, 0, 0.7);
  width: 0.5rem;
  height: 0.5rem;
}

.cursor-dot-outline {
  background-color: rgba(0, 0, 0, 0.3);
  width: 2rem;
  height: 2rem;
}

.btn {
  position: relative;
  z-index: 5;
  transition: 0.5s ease-out;
  margin: 1rem 0;
  padding: 1rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}
.btn::before {
  position: absolute;
  top: 0;
  left: -20rem;
  z-index: -1;
  transition: 0.5s ease-out;
  width: 20rem;
  height: 10rem;
  content: "";
}
.btn:hover::before {
  left: 0;
}
.btn.dark {
  border: 1px solid black;
  color: black;
}
.btn.dark::before {
  background-color: black;
}
.btn.dark:hover {
  color: white;
}
.btn.light {
  border: 1px solid white;
  color: white;
}
.btn.light::before {
  background-color: white;
}
.btn.light:hover {
  color: black;
}/*# sourceMappingURL=style.css.map */